<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main min-h-screen min-w-screen bg-zinc-900 text-white p-10">
        <a class="text-blue-500  inline-block mt-3" href="/">Go Back</a>
        <h2 class=" text-white text-4xl tracking-tighter"><%= fileName %></h2>
        <p class="text-xl mt-2 font-light"><%= details%></p>
    </div>
</body>
</html>